.new-task-modal header {
    text-align: center;
    margin-bottom: 20px;
}

.new-task-modal main {
    margin-bottom: 20px;
}

.new-task-modal main textarea {
    min-height: 100px !important;
    max-height: 300px;
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4rem;
    letter-spacing: .3px;
    resize: vertical;
    border: none;
    outline: none;
    background-color: var(--auxilary);
    border-radius: 8px;
}

.new-task-modal footer {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
}