.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3);
    opacity: 0;
    transition: .3s;
    z-index: 10;
    pointer-events: none;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}