/* @import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Baloo Thambi 2', cursive; */
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}

.container {
    max-width: 800px;
    min-width: 550px;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.container h1 {
    padding: 0;
    margin: 0;
    margin-bottom: 1.5rem;
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    color: #333;
}

.container form {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.container form .input {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container form .input input {
    display: inline-block;
    width: 100%;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: #e3e3e3;
    height: 50px;
    padding: 10px 30px;
}

.container form .input input::placeholder {
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

.container form .input input:hover,
.container form .input input:focus {
    background-color: #efefef;
}

.container form .input input:focus::placeholder {
    color: transparent;
}

.container form .btn[type="submit"] {
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 400;
    background-color: rgb(247, 208, 176);
    color: #333;
    height: 50px;
    line-height: 1rem;
    padding: 5px 25px;
    cursor: pointer
}

.container form .btn[type="submit"]:hover {
    background-color: rgb(255, 218, 185);
}

.container hr {
    width: 40%;
    margin: 0 auto;
    border: 0;
    height: 1px;
    background-color: rgb(220, 220, 220);
}

.container .tasks {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    padding-top: 1.5rem;
}

.container .tasks .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: 4;
    pointer-events: none;
    opacity: 0;
    transition: .3s;
}

.container .tasks .overlay.active {
    opacity: 1;
    pointer-events: all;
}

.container .tasks .clear {
    display: block;
    margin: 0 auto;
    border: none;
    outline: none;
    padding: 3px 20px;
    background-color: rgb(240, 198, 198);
    cursor: pointer;
}

.container .tasks .clear:hover {
    background-color: rgb(255, 212, 212);
}

.container .tasks > ul {
    flex: 1;
    padding: 0;
    margin: 0;
    overflow-y: auto;
}

.container .tasks > ul li {
    position: relative;
    padding: 15px 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container .tasks > ul li input[type="checkbox"] {
    position: absolute;
    visibility: hidden;
}

.container .tasks > ul li input[type="checkbox"]:checked + .done {
    background: #eee url(../img/tick.svg);
    background-size: calc(100% - 14px);
    background-repeat: no-repeat;
    background-position: center;
}

.container .tasks > ul li input[type="checkbox"]:checked ~ .text {
    color: #ddd;
}

/* .container .tasks > ul li input[type="checkbox"]:checked ~ .text .delete {
    display: none;
} */

.container .tasks > ul li .done {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 10px;
    background: #eee;
    background-size: 0;
    border-radius: 50%;
    transition: background-size .3s;
}

.container .tasks > ul li .text {
    position: relative;
    display: inline-block;
    width: 100%;
    display: flex;
    flex-direction: row;
    transition: color .3s;
}

.container .tasks > ul li .text .content {
    font-size: 1.2rem;
    font-weight: 400;
    display: inline-block;
    flex: 1;
}

/* .container .tasks > ul li .text .delete {
    cursor: pointer;
    transition: .3s;
}

.container .tasks > ul li .text .delete:hover {
    transform: scale(1.1);
} */

.container .tasks > ul li .text input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    font-size: 1.2rem;
    font-weight: 400;
    border: none;
    border-bottom: 2px solid #389096;
    padding-bottom: 5px;
    outline: none;
}

.container .tasks > ul li .text input.active {
    display: initial;
}

.container .tasks > ul li input[type="checkbox"]:checked ~ .text input {
    display: none !important;
}

.container .tasks .task-actions {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    transform: translateY(110%);
    background: #fff;
    z-index: 5;
    transition: .3s;
    animation: task-actions-leave .3s ease-in-out forwards;
}

@keyframes task-actions-leave {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(110%);
    }
}

.container .tasks .task-actions.active {
    animation: task-actions-enter .3s ease-in-out forwards;
}

@keyframes task-actions-enter {
    0% {
        transform: translateY(110%);
    }
    100% {
        transform: translateY(0);
    }
}

.task-actions ul {
    padding: 10px 0;
}

.task-actions ul li {
    display: block;
    list-style: none;
    padding: 5px;
    cursor: pointer;
}

.task-actions ul li:hover {
    background-color: rgba(0, 0, 0, .05);
}

.task-actions ul li .icon {
    display: inline-block;
    padding: 8px;
}

.task-actions ul li .icon img {
    vertical-align: middle;
}

.task-actions ul li .text {
    vertical-align: middle;
    font-weight: 400;
}

footer {
    font-size: .7rem;
}

@media screen and (max-width: 768px) {
    .container {
        min-width: 300px;
    }

    .container form {
        grid-template-columns: 1fr;
    }

    .container form .input input {
        text-align: center;
    }
}