.container > header {
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 10px 20px;
    background-color: var(--gray-light);
    box-shadow: 0 1px 1px var(--auxilary);
}

.container > header .logo {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: .7px;
    color: var(--brand);
    text-transform: uppercase;
}

.container > header .link-btn {
    background-color: var(--gray-light);
}